

.angelus-block {
    display: flex;
    flex-direction: column;
}

.angelus-block :nth-child(3) {
    margin-top: 1rem;
}

.red-text {
    color: var(--red);
}

strong {
    color: var(--red);
}

@media (max-width: 768px) {
    #columns-wrap {
        flex-direction: column;
    }
}
