#angelus #citation {
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #D1E8FC;
    font-style: italic;
}

.angelus-block {
    align-items: baseline;
}

.angelus-block :nth-child(3) {
    margin-top: 1rem;
}

.red-text {
    color: var(--red);
}
