.mystery {
    font-size: 1.25rem;
}

.set-title {
    cursor: pointer;
}

.meditation {
    font-weight: bold;
}

.arrow {
    height: 0.75rem;
    margin-right: .5rem;
    transition: transform 100ms;
}

.arrow-open {
    transform: rotateZ(90deg);
}