section#rosary {
    p {
        text-align: justify;
        hyphens: auto;
        overflow-wrap: break-word;
    }
}

.mystery {
    font-size: 1.25rem;
}

.set-title {
    cursor: pointer;
}

.meditation {
    font-weight: bold;
}