#sidebar {
    padding: 1.5rem;
    gap: 0.75rem;

    position: fixed;

    height: 100vh;
    width: var(--sidebar-width);

    color: white;
    background-color: var(--dark-blue);

    transition: transform 0.3s ease;
    z-index: 1;
}

#sidebar button {
    display: none;
}

#sidebar button img {
    max-height: 1rem;
}

#sidebar > img {
    max-width: 3rem;
}

#sidebar h2 {
    font-style: italic;
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--white-75);
}

#sidebar hr {
    width: 100%;
    margin: 1rem auto;
    border-bottom: 1px solid var(--white-75);
}

#navigation {
    flex: 1;
    width: 100%;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    width: 100%;

    padding: 1vh;
    border-radius: 1vh;

    font-size: 1.1rem;
}

.nav-link.active {
    color: var(--yellow);
    font-weight: bold;
    background-color: var(--white-10);
}

.nav-icon {
    max-height: 1.1rem;
}

#copyright {
    font-size: 0.75rem;
    color: var(--white-75);
}

/* Mobile */
@media (max-width: 768px) {
    #sidebar {
        left: 0;
        top: 0;

        height: 100vh;
        width: 100vw;

        transform: translateX(-200%);
        z-index: 1000;
    }

    #sidebar.open {
        transform: translateX(0);
    }

    #sidebar button {
        display: block;
        background-color: transparent;
        color: white;
        margin: 0 0 0 auto;
    
    }
}
