#topbar {
    width: 100%;
    height: var(--top-bar-height);

    position: fixed;

    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    background-color: white;
}

#topbar #title {
    flex: 1;
    font-size: 1.5rem;
    color: var(--dark-blue);
}

#topbar #menu-button {
    display: flex;
    cursor: pointer;
    background-color: transparent;
}

#topbar #menu-icon {
    max-height: 1.25rem;
}

/* Mobile */
@media (min-width: 769px) {
    #topbar {
        display: none;
    }
}
