.container {
    display: flex;
    flex-direction: row;

    width: 100%;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-bottom: 1rem;
    color: var(--dark-blue);
    padding-left: var(--sidebar-width);
}

main::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./assets/background.jpg");
    background-repeat: repeat;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
}

/* Mobile */
@media (max-width: 768px) {
    main {
        padding-left: 0;
    }
}
